# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.offset
*.pickle

_support/sources

vendor/
_examples/.env


self.db
self.db-shm
self.db-wal

examples/agreement/agreement
examples/agreement/storage
examples/credentials/request/request
examples/credentials/request/storage
examples/discovery/discovery
examples/discovery/storage