name: CI

on:
  push:
    branches:
      - main
      - 'release-[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main
      - 'release-[0-9]+.[0-9]+'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  publish:
    if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release-') }}
    needs: test
    uses: joinself/github-workflows-public/.github/workflows/publish.yml@main
    secrets: inherit
    with:
      git-tag-prefix: v
