name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Git tag to release e.g. 1.2.3-4"
        type: string
        required: true

jobs:
  release:
    uses: joinself/github-workflows-public/.github/workflows/release.yml@main
    secrets: inherit
    with:
      version: ${{ inputs.version }}
